body {
  margin: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background: #1fa3a3;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
